
.container {   
  /* display: flex;    */
  justify-content: center; 
}

text {
  background-color: aqua;
  float: left;
}

.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  }

  .btn-view {
    background-color: blue;
  }

  .logo {
    align-content: center;
  }

  .vegan {
    height: 20px;
    width: 21px;
  }

  .israel {
    height: 16px;
    width: 19px;
  }

  .star {
    height: 18px;
    width: 18px;
  }


 


  