

  .btn-view {
    background-color: blue;
  }


  .vegan {
    height: 50px;
    width: 50px;
  }

  .israel {
    height: 16px;
    width: 19px;
  }

  .star {
    height: 16px;
    width: 16px;
  }

  .earth {
    height: 45px;
    width: 40px;
    padding-bottom: 4px;
  }

  .title {
    color: #986C4A;
    margin-right: 5px;
  }
  
  div.gallery {
    display: inline-flex;
    margin: 15px;
    float: right;
    width: 300px;
  }
  
  div.gallery:hover {
    /* border: 1px solid #777; */
    opacity: 80%;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  h6.desc {
    padding: 15px;
    text-align: center;
  }
  
  .nav a {
    text-decoration-color: black;
  }
  

 


  