.nav a {
  text-decoration-color: black;
}

.title {
  color: #986C4A;
  margin-right: 5px;
}

ul {
  padding: 0;
    list-style-type: none;
}

h6.desc {
  padding: 15px;
  text-align: center;
  color: #986C4A;
}

div.gallery {
  margin: 15px;
  float: right;
  width: 300px;
}

div.gallery:hover {
  opacity: 80%;
}

.store-img {
  width: 100%;
  height: auto;
  max-height: 200px;
  max-width: 360px;
}

a {
  text-decoration: none;
}


